*{
    padding : 0;
   
    
}
body{
    
    background-size: cover;
    background-position: center;
    font-family:  sans-serif;
}
.menu-bar
{
    background-color: green;
    text-align: center;
    
}
.menu-bar ul
{
    display:inline-flex;
    list-style: none;
    color:white;
}
.menu-bar ul li
{
    width : 140px;
    height:15px;
    padding:15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.menu1,.menu-bar ul li a:hover
{
    color: yellow;
   
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1
{
    display:none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display:block;
    position: absolute;
    background:green;
    margin-top:15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom:1px dotted white;
    background:transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: yellow;
}
.fa-angle-right
{
    float:right;
}
.sub-menu-2
{
    display:none;
}
.hover-me:hover .sub-menu-2
{
    position:absolute;
    display: block;
    margin-top: -30px;
    margin-left: 170px;
    background: rgb(0,100,0);
}
.cards
{
    margin:0 auto;
    max-width:1200px;
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    font-family: sans-serif;

}
.card
{
    box-shadow: 0 0 3px black;
}
.card_image
{
    width:100%;
    display: block;
}
.card_content
{
    line-height: 1.5;
    font-size: 15px;
    padding: 15px;
    
}
.card_para
{
    text-align:center;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;z
}
.card_content > p:first
{
    margin-top: 0;
}
.card_content > p:second
{
    margin-bottom: 0;
}
.content
{
    font-size:25px;
    text-align: center;
    background-color: blue;
    padding-bottom:2px;
    height:40px;
    align-items:center;
    color:white;
   
}